
<!-- fixed nav  Bar -->
<header>
<nav class="navbar navbar-expand-lg">
    <div class="container fw-bold">
      <a class="navbar-brand" routerLink="/" style="color: orange">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" collapse navbar-collapse d-flex-lg justify-content-lg-end" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Packages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Contact Us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Currency ($)
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Language (EN)
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">AR</a></li>
              <li><a class="dropdown-item" href="#">FR</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">GR</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Sign in</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
